
@media all and (max-width: 320px) {
    .container {
        padding-top: 10px;
        /* background: beige; */
        /* height: 100vh; */
        display: flex;
        flex-wrap: wrap;
        /* flex-direction: row;  */
        justify-content: space-evenly;
        /* align-items: flex-start; */
        /* align-content: space-between; */
    }
    
    .item {
        border: 1px blue solid;
        width: 300px;
        height: 500px;
        font-size: 2em;
        text-align: center;
    }
    .item .tex {
        text-align: center;
        font-size: 0.7em;
    }
    
    .page {
        font-weight: bold;
        text-align: center;
        font-size: 1em;
    }
    
    .images {
        text-align: center;
    }
    .item p {
        font-size: 0.8em;
    }
}

.container {
    padding-top: 10px;
    /* background: beige; */
    /* height: 100vh; */
    display: flex;
    flex-wrap: wrap;
    /* flex-direction: row;  */
    justify-content: space-evenly;
    /* align-items: flex-start; */
    /* align-content: space-between; */
}

.item {
    border: 1px blue solid;
    width: 500px;
    height: 400px;
    font-size: 2em;
    text-align: center;
}
.item .tex {
    text-align: center;
    font-size: 0.7em;
}

.page {
    font-weight: bold;
    text-align: center;
    font-size: 1em;
}

.images {
    text-align: center;
}
.item p {
    font-size: 0.8em;
}
